<?xml version="1.0"?>
<launch>
  <!-- general parameters -->
  <arg name="force_sensor" default="CFS018CA201U" /> <!-- other sensor: PFS055YA501U6 -->
  <!-- delay param for low-pass-filter -->
  <arg name="filter_param" default="0.5" />

  <node name="forces_node" pkg="cfs_sensor" type="cfs_node"  output="screen" >
    <rosparam file="$(find cfs_sensor)/config/$(arg force_sensor).yaml" command="load" />
  </node>

  <node name="lpf_for_FTsensor" pkg="avatar" type="lpf_for_FTsensor.py" output="screen" >
    <param name="delay_param" value="$(arg filter_param)" />
  </node>

</launch>
