<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus_xi" >

  <xacro:include filename="$(find hydrus_xi)/urdf/common.xacro" />
  <xacro:include filename="$(find hydrus_xi)/urdf/branch_type_link.urdf.xacro" />

  <xacro:property name="battery" value="1"/>

  <xacro:hydrus_xi_center_link child1="2" child2="4" child3="6"/>
  <xacro:hydrus_xi_branch_type_link self="2" child="1" rotor_direction="-1" link_type="middle" battery="${battery}"/>
  <xacro:hydrus_xi_branch_type_link self="1" child="1" rotor_direction="1"  link_type="end"    battery="${battery}"/>
  <xacro:hydrus_xi_branch_type_link self="4" child="3" rotor_direction="-1" link_type="middle" battery="${battery}"/>
  <xacro:hydrus_xi_branch_type_link self="3" child="3" rotor_direction="1"  link_type="end"    battery="${battery}"/>
  <xacro:hydrus_xi_branch_type_link self="6" child="5" rotor_direction="-1" link_type="middle" battery="${battery}"/>
  <xacro:hydrus_xi_branch_type_link self="5" child="5" rotor_direction="1"  link_type="end"    battery="${battery}"/>
</robot>
