<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus_xi" >

  <xacro:include filename="$(find hydrus_xi)/robots/hex_branch/default.urdf.xacro" />

  #### flight controller ####
  <xacro:extra_module name = "fc" parent = "center_link" visible = "1"
                      model_url = "package://hydrus_xi/urdf/mesh/modules/flight_controller/fc3.dae">
    <origin xyz="-0.0129 -0.0044 0.03933" rpy="0 0 0"/>
    <inertial>
      <origin xyz="0.012999 0.004396 -0.004856" rpy="0 0 0"/>
      <mass value="0.009434"/>
      <inertia
          ixx="0.000004" iyy="0.000004" izz="0.000008"
          ixy="0.000001" ixz="-0.000001" iyz="-0.000000"/>
    </inertial>
  </xacro:extra_module>

  <xacro:extra_module name = "pc" parent = "center_link" visible = "1"
                      model_url = "package://hydrus_xi/urdf/mesh/modules/pc/xavier_2.dae">
    <origin xyz="-0.01075 0.0005 -0.0775" rpy="0 0 0"/>
    <inertial>
      <origin xyz="-0.000890 -0.000110 0.028700" rpy="0 0 0"/>
      <mass value="0.449000"/>
      <inertia
          ixx="-0.000452" iyy="-0.000453" izz="-0.000000"
          ixy="0.000000" ixz="-0.000014" iyz="-0.000002"/>
    </inertial>
  </xacro:extra_module>

  <!-- zed mini setero -->
  <xacro:extra_module name = "zed_camera_center" parent = "center_link" visible = "1"
                      model_url = "package://hydrus_xi/urdf/mesh/sensor/zed_mini.dae">
    <origin xyz="0.05504 0.09534  0.029" rpy="0 0 ${pi/3}"/>
    <inertial>
      <origin xyz="0.000430 0.006110 0.000000" rpy="0 0 0"/>
      <mass value="0.090000"/>
      <inertia
          ixx="0.000117" iyy="0.000010" izz="0.000117"
          ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
    </inertial>
  </xacro:extra_module>

  <!-- leddar one -->
  <xacro:extra_module name = "leddar_one" parent = "center_link" visible = "1"
                      model_url = "package://hydrus_xi/urdf/mesh/sensor/leddar_one.dae">
    <origin xyz="0.082 0.0 -0.027" rpy="0 ${pi} ${-pi/2}"/>
    <inertial>
      <origin xyz="0.000000 -0.009700 -0.004610" rpy="0 0 0"/>
      <mass value="0.028000"/>
      <inertia
          ixx="0.000007" iyy="0.000009" izz="0.000007"
          ixy="0.000000" ixz="0.000000" iyz="0.000001"/>
    </inertial>
  </xacro:extra_module>

  <!-- Hokuyo UST-20LX -->
  <!-- https://www.hokuyo-aut.co.jp/search/single.php?serial=16 -->
  <xacro:include filename="$(find hydrus_xi)/robots/sensor/hokuyo_ust20lx.urdf.xacro" />
  <xacro:hokuyo_ust20lx name="laser" parent="center_link" ros_topic="scan" update_rate="40" ray_count="1081" min_angle="-135" max_angle="135">
    <origin xyz="0.0 0.0 ${0.220 + 0.01 + 0.0474}" rpy="0 0 ${pi}"/>
  </xacro:hokuyo_ust20lx>

  <!-- gps -->
  <xacro:extra_module name = "gps" parent = "center_link" visible = "1"
                      model_url = "package://hydrus_xi/urdf/mesh/sensor/gps_m8nblox.dae">
    <origin xyz="0.0 0.0 0.3" rpy="0 0 0"/>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.03"/>
      <inertia
          ixx="0.0" iyy="0.0" izz="0.0"
          ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </xacro:extra_module>

</robot>

