aerial_robot_control_name: aerial_robot_control/tilt_qd_servo_dist_mdl/nmpc_controller

controller:
  physical:
    mass: 2.773  # no battery: 2.773-0.821=1.952 ; with battery: 2.773; in sim: 2.99194 # kg
    gravity: 9.798  #9.80665 # m/s^2   Tokyo 9.798; in sim: 9.80665
    inertia_diag: [ 0.04170, 0.03945, 0.07068 ] #[ 0.0621273, 0.0927884, 0.130061 ] # kg m^2
    dr1: -1  # direction of motor 1
    p1: [ 0.137712, 0.137882, 0.0297217 ] # position of motor 1
    dr2: 1  # direction of motor 2
    p2: [ -0.137745, 0.137882, 0.0297217 ] # position of motor 2
    dr3: -1  # direction of motor 3
    p3: [ -0.137745, -0.138284, 0.0297217 ] # position of motor 3
    dr4: 1  # direction of motor 4
    p4: [ 0.137712, -0.138284, 0.0297217 ] # position of motor 4
    kq_d_kt: 0.0153  #0.0171998

    # the identified params in simulation are 1/1.619, 1/1.646, 1/1.530, 1/1.542. so the average is 1/1.584 = 0.6312 s
    # the identified params in real is 1/0.0501 ~ 20s (slowest servo of four servos); the weighted average is ~ 15s
    t_servo: 0.085883  # real in flight 0.044228, no propeller 0.085883; sim: 0.15858 sec

    # profile drag model
    c0: -0.278
    c1: -2.147
    c2: 8.134
    c3: 0.470
    c4: -2.439

  nmpc:
    T_samp: 0.01  # 100 Hz  TODO: should be adjusted by main_rate
    T_pred: 2.0  # seconds
    T_integ: 0.1  # seconds

    # constraint
    w_max: 6  # 1 rad/s ~ 57 deg/s
    w_min: -6

    v_max: 1
    v_min: -1

    thrust_max: 30 # N
    thrust_min: 0 # N

    a_max: 1.5708  # 30 degree ~ 0.5    1.5708 rad ~ 90 deg
    a_min: -1.5708

    # params for the cost function
    Qp_xy: 300
    Qp_z: 400
    Qv_xy: 10
    Qv_z: 10
    Qq_xy: 300
    Qq_z: 600
    Qw_xy: 5
    Qw_z: 5
    Qa: 1
    Rt: 1
    Rac_d: 250  # difference of ac

    is_attitude_ctrl: false
    is_body_rate_ctrl: false

    is_print_physical_params: false
    is_debug: false

    # disturb_rej
    limit_fx: 5.0
    limit_fy: 5.0
    limit_fz: 5.0
    limit_mx: 1.0
    limit_my: 1.0
    limit_mz: 1.0

    i_gain_x: 2
    i_gain_y: 2
    i_gain_z: 2
    i_gain_roll: 0.0
    i_gain_pitch: 0.0
    i_gain_yaw: 0.0
