<launch>
  <arg name="headless" default="False" />
  <arg name="robot_model" />

  <!-- not good -->
  <!-- global namespace -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(arg robot_model)'" />

  <group unless="$(arg headless)">
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find aerial_robot_model)/launch/rviz_config" respawn="true" />
  </group>

</launch>
