<launch>
	<arg name="model" default="$(find aerial_robot_model)/urdf/hydra_link.urdf" />
	<arg name="gui" default="False" />
        <param name="robot_description" textfile="$(arg model)" /> 
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

        <!-- fuerte version's urdf vcg -->
        <!--
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find aerial_robot_model)/urdf/urdf.vcg" />
        -->
        <!-- groovy version's urdf vcg -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aerial_robot_model)/urdf/urdf.rviz" />

</launch>
