<launch>
  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="baud" default="115200" />
  <node pkg="spinal_ros_bridge" type="serial_node" name="rosserial_server" output="screen">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
  </node>
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" output="screen"/>
</launch>
