<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrusx" >

  <xacro:include filename="$(find hydrus)/urdf/common.xacro" />
  <xacro:include filename="$(find hydrus)/urdf/link.urdf.xacro" />

  <xacro:hydrusx_link self="1" child="2" rotor_direction="-1" />
  <xacro:hydrusx_link self="2" child="3" rotor_direction="1"  />
  <xacro:hydrusx_link self="3" child="4" rotor_direction="-1" />
  <xacro:hydrusx_link self="4" child="5" rotor_direction="1"  />
  <xacro:hydrusx_link self="5" child="6" rotor_direction="-1" />
  <xacro:hydrusx_link self="6" child="6" rotor_direction="1"  />

</robot>
