<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrusx" >

  <!-- robot urdf -->
  <xacro:include filename="$(find hydrus)/robots/hex/euclid_201806.urdf.xacro" />

  <!-- gazebo plugin for sensors -->
  <xacro:include filename="$(find hydrus)/robots/onboards/euclid_201806/onboards.gazebo.xacro" />

</robot>
