<?xml version="1.0"?>
<launch>

  ################################# Mocap Windows-ROS Bridge ################################
  <include file="$(find mocap_optitrack)/launch/mocap.launch" />

  ################################# Mocap Aerial-Robot Interface  ######################################
  <include file="$(find mocap_retime)/launch/mocap_retime.launch" />


</launch>