<launch>
  <node pkg="mocap_optitrack"
    type="mocap_node"
    name="mocap_node"
    respawn="false"
    launch-prefix=""
    required="true">
    <rosparam>
      rigid_bodies:
         '1':
               pose: mocap/pose
               pose2d: mocap/ground_pose
               child_frame_id: baselink
               parent_frame_id: world
      optitrack_config:
         multicast_address:
               239.255.42.99
    </rosparam>
  </node>

</launch>
