<!-- Launch nodes for GPS systems -->
<launch>

  <!-- Ublox RTK GPS (NEO-M8P or ZED-F9P) -->
  <arg name = "ntrip_ip" default="192.168.1.1" />
  <arg name = "module_name" default="holybro_m8p" />

  <!-- Device interface with ublox GPS -->
  <include file="$(find ublox_gps)/launch/ublox_device.launch" >
    <arg name="param_file_name" value="$(arg module_name)" />
    <arg name="node_name" value="rtk_gps" />
  </include>

  <!-- NTRIP caster (server) IP address -->
  <include file="$(find ntrip_ros)/launch/ntrip_ros.launch" >
    <arg name="ip" value="$(arg ntrip_ip)" />
  </include>

</launch>
