<launch>
  <arg name="use_joint_state_pubisher_gui" default="True"/>
  <arg name="rviz_config" default="$(find aerial_robot_dynamics)/config/rviz_config"/>
  <arg name="headless" default="False"/>

  <include file="$(find aerial_robot_dynamics)/launch/set_robot_description.launch"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_joint_state_pubisher_gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" unless="$(arg headless)"/>

</launch>
