<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="rolling" >

  <xacro:include filename="$(find rolling)/urdf/20231013_frame/rolling_link.urdf.xacro" />
  <xacro:include filename="$(find rolling)/urdf/common.xacro" />

  <xacro:rolling_module self="1" child="2" rotor_direction="1"  battery="false"/>
  <xacro:rolling_module self="2" child="3" rotor_direction="-1" battery="false"/>
  <xacro:rolling_module self="3" child="3" rotor_direction="1"  battery="false"/>
</robot>
