<?xml version="1.0"?>
<launch>
  ############################# Global Param ###################################

  <!-- estimate mode -->
  <arg name="state_mode" value="0" />
  #GROUND_TRUTH = 0
  #EGOMOTION_ESTIMATE = 1
  <!-- for the outdoor experiment using magnetic, should not be here -->
  <arg name="only_imu_yaw" value="false" />

  <!-- flight control mode: should only be one true flag -->
  <arg name="pos_control_mode" value="true" /> <!-- pos mode -->
  <arg name="vel_control_mode" value="false" />  <!-- vel mode -->
  <arg name="att_control_mode" value="false" />  <!-- att mode -->

  <arg name="transformable_mode" default="true" /> <!-- uav mode: hex_h or hex_p -->

  ############## Motor Info ############################
  <rosparam file="$(find hydrus_transform_control)/config/hydrusx/MotorInfo.yaml" command="load" if="$(arg transformable_mode)"/>
  <rosparam file="$(find hydrus_transform_control)/config/hydrusx/GeneralMotorInfo.yaml" command="load" unless="$(arg transformable_mode)"/>

  ############### Sensors #############################
  <include file="$(find hydrus_transform_control)/launch/hydrusx/hydrusx_sensors.launch" >
    <arg name="imu_board" value="1" />
  </include >

  ############################# Drone Platform ###################################
  <node pkg="aerial_robot_base" type="aerial_robot_base_node" name="aerial_robot_base_node" output="screen" >

    ############### Basic Param  #####################
    <param if="$(arg pos_control_mode)" name="navigator/xy_control_mode" type="int" value="0"/>
    <param if="$(arg vel_control_mode)" name="navigator/xy_control_mode" type="int" value="3"/>
    <param if="$(arg att_control_mode)" name="navigator/xy_control_mode" type="int" value="4"/>

    <param name="estimator/state_mode" value= "$(arg state_mode)" />
    <param name="estimator/only_imu_yaw" value="$(arg only_imu_yaw)"/>

    <param name="rx_loop_rate" type="double" value="110"/>
    <param name="tx_loop_rate" type="double" value="40"/>
    <param name="tf_pub_loop_rate" type="double" value="120"/>

    ############### Sensor Fusion ######################
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/SensorFusion.yaml" command="load" />
    ############### PID Control ######################
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/PidControlConfig.yaml" command="load" if="$(arg transformable_mode)"/>
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/GeneralPidControlConfig.yaml" command="load" unless="$(arg transformable_mode)"/>

v    ############### Keyboard Navigation ##############
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/TeleopNavigationConfig.yaml" command="load" />
  </node>

  ################################# Transformable Model  ######################################
  <group if="$(arg transformable_mode)">
    ################################# Robot Model  ######################################
    <include file="$(find hydrus_transform_control)/launch/hydrusx/hydrusx_robot_model.launch" />

    ################################# Transform Control  ######################################
    <node pkg="hydrus_transform_control" type="transform_control_node" name="transform_control_node"  output="screen" >
      <rosparam file="$(find hydrus_transform_control)/config/hydrusx/Hydrus_hex.yaml" command="load" />
    </node>
  </group>

  ################################# General Hex Model  ######################################
  <group unless="$(arg transformable_mode)">
    <node pkg="rostopic" type="rostopic" name="cog_yaw_frame" args="pub -r 1 /desire_coordinate aerial_robot_base/DesireCoord '{yaw: -2.09333333333}'" output="screen"/>
  </group>

</launch>



