<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="simulation" default="False" />
  <arg name="headless" default="True" />

  <!-- uav mode: hex_h or hex_p -->
  <arg name="transformable_mode" default="true" />

  <arg name="model" default="hex" />

  # EGOMOTION_ESTIMATE = 0
  # EXPERIMENT_ESTIMATE = 1. for unstable mocap, use this mode
  # GROUND_TRUTH = 2
  <arg name="estimate_mode"  default= "0" />

  <!-- flight control mode: 0: global-pos; 1: local-pos; 2: global-vel; 3: local-vel; 4: att -->
  <arg name="control_mode" default="0" /> <!-- pos mode -->

  <!-- sensors(fusion) special parameters -->
  <param name="/sensor_plugin/altitude/no_height_offset" value="true" />

  ###########  Motor Config  ###########
  <rosparam file="$(find hydrus_transform_control)/config/hydrusx/$(arg model)/MotorInfo.yaml" command="load" if="$(arg transformable_mode)"/>
  <rosparam file="$(find hydrus_transform_control)/config/hydrusx/general/MotorInfo.yaml" command="load" unless="$(arg transformable_mode)"/>


  ###########  Base Platform  ###########
  <node pkg="aerial_robot_base" type="aerial_robot_base_node" name="aerial_robot_base_node" output="screen" >

    ###########  Basic Param  ###########
    <param name="estimator/estimate_mode" value= "$(arg estimate_mode)" />
    <param name="param_verbose" value= "true" />
    <param name="simulation" value="$(arg simulation)" /> <!-- for sensor plugin -->

    <param name="navigator/xy_control_mode"  value="$(arg control_mode)"/>

    <param name="main_rate" type="double" value="40"/>

    ###########  Sensor Fusion  ###########
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/SensorFusion.yaml" command="load" />

    ###########  PID Control  ###########
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/$(arg model)/PidControlConfig.yaml" command="load" if="$(arg transformable_mode)"/>
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/general/PidControlConfig.yaml" command="load" unless="$(arg transformable_mode)"/>

    ###########  Teleop  ###########
    <rosparam file="$(find hydrus_transform_control)/config/hydrusx/TeleopNavigationConfig.yaml" command="load" />
  </node>

    ###########  Sensors  ###########
    <include file="$(find aerial_robot_base)/launch/sensors/onboard_sensors.launch" >
      <arg name="simulation" value="$(arg simulation)" />
      <arg name="imu_board" value="1" />  <!-- 1: d imu board, 0: kduino board -->
      <arg name="use_alt" value="1" />
      <arg name="use_mocap" value="0" />
      <arg name="use_joy" value="0" />
      <arg name="use_opti" value="0" />
      <arg name="imu_port" value="/dev/flight_controller" />
      <arg name="alt_port" value="/dev/leddar_one" />
    </include >

    ###########  Servo Bridge  ###########
    <node pkg="hydrus_transform_control" type="dynamicxel_bridge_node" name="servo_bridge"  output="screen" >
      <rosparam file="$(find hydrus_transform_control)/config/hydrusx/$(arg model)/Servo.yaml" command="load" />
    </node>

  ###########  Robot Model  ###########
  <include file="$(find aerial_robot_model)/launch/aerial_robot_model.launch">
    <arg name="model" value="hydrusx/hydrusx_$(arg model)"/>
    <arg name="headless" value="$(arg headless)" />
    <arg name="simulation" value="$(arg simulation)" />
  </include >

  ###########  Transformable Model  ###########
  <group if="$(arg transformable_mode)">
    ###########  Transform Control  ###########
    <node pkg="hydrus_transform_control" type="transform_control_node" name="transform_control_node"  output="screen" respawn="true">
      <rosparam file="$(find hydrus_transform_control)/config/hydrusx/$(arg model)/Hydrus.yaml" command="load" />
      <param name="kinetic_verbose" value="false" />
      <param name="control_verbose" value="false" />
    </node>
  </group>

  ###########  General Copter Model  ###########
  <group unless="$(arg transformable_mode)">
    <node pkg="rostopic" type="rostopic" name="cog_yaw_frame" args="pub -r 1 /desire_coordinate aerial_robot_base/DesireCoord '{yaw: -1.0472}'" output="screen"/>
  </group>

</launch>



