<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dragon" >

  <xacro:include filename="$(find dragon)/robots/quad.urdf.xacro" />

  <!-- gazebo elements: hw interface -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/dragon</robotNamespace>
      <robotSimType>gazebo_ros_control/AerialRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
</robot>
