<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="type" default="quad" />
  <arg name="onboards_model" default="default_mode_201907" />
  <arg name="estimate_mode"  default= "0" />
  <arg name="sim_estimate_mode"  default= "2" />
  <arg name="headless" default="True" />
  <arg name="worldtype" default="$(find aerial_robot_simulation)/gazebo_model/world/empty.world" />
  <arg name="launch_gazebo" default="True" />
  <arg name="direct_model" default="False" />
  <arg name="direct_model_name" />
  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_z" default="0.0"/>
  <arg name="spawn_yaw" default="0.0"/>
  <arg name="robot_id" default="" />
  <arg name="robot_ns" value="hydrus$(arg robot_id)" />
  <arg name="config_dir" default="$(find hydrus)/config/$(arg type)" />
  <arg name="use_model_with_sim_flag" default="False"/>
  <arg name="model_flag" default="" />
  <arg name="links" default="4" if="$(eval arg('type')=='multi')"/>

  <arg name="description_mode" value="urdf" unless="$(arg simulation)" />
  <arg name="description_mode" value="gazebo" if="$(arg simulation)" />
  <arg name="robot_model" value="$(find hydrus)/robots/$(arg type)/$(arg onboards_model)/robot.$(arg description_mode).xacro" unless="$(arg direct_model)"/>
  <arg name="robot_model" value="$(arg direct_model_name)" if="$(arg direct_model)"/>

  ###########  Parameters  ###########
  <group ns="$(arg robot_ns)">

    ###########  Basic Param  ###########
    # EGOMOTION_ESTIMATE = 0
    # EXPERIMENT_ESTIMATE = 1. for unstable mocap, use this mode
    # GROUND_TRUTH = 2
    <param name="estimation/mode" value= "$(arg sim_estimate_mode)" if="$(arg simulation)" />
    <param name="estimation/mode" value= "$(arg estimate_mode)" if="$(arg real_machine)"/>

    # HYDRUS = 16 # 0x10, hydrus type with  4dof underactuated property
    <param name="uav_model" value= "16" />
    <rosparam file="$(arg config_dir)/$(arg onboards_model)/RobotModel.yaml" command="load" />

    ###########  Motor Config  ###########
    <rosparam file="$(arg config_dir)/$(arg onboards_model)/MotorInfo.yaml" command="load" />

    ###########  Servo Config  ###########
    <rosparam file="$(arg config_dir)/$(arg onboards_model)/Servo.yaml" command="load" unless="$(eval arg('type')=='multi')"/>
    <group if="$(eval arg('type')=='multi')">
      <rosparam file="$(arg config_dir)/$(arg onboards_model)/ServoCommon.yaml" command="load"/>
      <include file="$(find hydrus)/launch/includes/$(arg onboards_model)/recursive_config.launch" >
        <arg name="nr" value="$(eval arg('links')-1)"/>
        <arg name="links" value="$(arg links)"/>
      </include>
    </group>

    ###########  Battery Config  ###########
    <rosparam file="$(arg config_dir)/$(arg onboards_model)/Battery.yaml" command="load" />

    ###########  Control  ###########
    <rosparam file="$(arg config_dir)/$(arg onboards_model)/FlightControl.yaml" command="load" />

    ###########  Sensor Fusion  ###########
    <rosparam file="$(arg config_dir)/$(arg onboards_model)/StateEstimation.yaml" command="load" />
    <rosparam file="$(arg config_dir)/Simulation.yaml" command="load" if="$(arg simulation)"/>

    ###########  Navigation  ###########
    <rosparam file="$(arg config_dir)/NavigationConfig.yaml" command="load" />
  </group>

  ###########  Base Platform  ###########
  <node pkg="aerial_robot_base" type="aerial_robot_base_node" name="aerial_robot_base_node" ns="$(arg robot_ns)" output="screen">
    <param name="tf_prefix" value="$(arg robot_ns)"/>
    <param name="param_verbose" value="false"/>
    <param name="main_rate" value="40"/>
  </node>

  ###########  Robot Model  ###########
  <include file="$(find aerial_robot_model)/launch/aerial_robot_model.launch" >
    <arg name="headless" value="$(arg headless)" />
    <arg name="robot_model" value="$(arg robot_model)" />
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="rviz_config" value="$(find hydrus)/config/rviz_config" />
    <arg name="rviz_init_pose" value="$(arg config_dir)/RvizInit.yaml" />
    <arg name="need_joint_state" value="false" if ="$(eval arg('simulation') + arg('real_machine') > 0)"/>
    <arg name="model_options" value="links:=$(arg links)" if="$(eval arg('type')=='multi')"/>
  </include>

  ###########  Sensors ###########
  <include file="$(find hydrus)/launch/includes/$(arg onboards_model)/sensors.launch.xml" >
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="links" value="$(arg links)" if="$(eval arg('type')=='multi')"/>
    <arg name="robot_model" value="$(arg robot_model)" if="$(eval arg('type')=='multi' or arg('type')=='hex' or arg('type')=='oct')"/>
  </include>

  ###########  Servo Bridge  ###########
  <node pkg="aerial_robot_model" type="servo_bridge_node" name="servo_bridge" ns="$(arg robot_ns)" output="screen" />

  ########## Simulation in Gazebo #########
  <include file="$(find aerial_robot_simulation)/launch/simulation.launch" if = "$(eval arg('simulation') * (1 - arg('real_machine')))" >
    <arg name="robot_ns" default="$(arg robot_ns)" />
    <arg name="gui" default="false" if="$(arg headless)" />
    <arg name="headless" default="$(arg headless)" />
    <arg name="launch_gazebo" default="$(arg launch_gazebo)" />
    <arg name="worldtype" value="$(arg worldtype)" />
    <arg name="spawn_x" value="$(arg spawn_x)" />
    <arg name="spawn_y" value="$(arg spawn_y)" />
    <arg name="spawn_z" value="$(arg spawn_z)" />
    <arg name="spawn_yaw" value="$(arg spawn_yaw)" />
    <arg name="use_model_with_sim_flag" value="$(arg use_model_with_sim_flag)" />
    <arg name="model_options" value="links:=$(arg links)" if="$(eval arg('type')=='multi')"/>
    <arg name="robot_model" value="$(arg robot_model)" if="$(arg use_model_with_sim_flag)"/>
  </include>

</launch>
