<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="type" default="quad" />
  <arg name="model" default="default"/>
  <arg name="headless" default="false" />

  ###########  Robot Model  ###########
  <include file="$(find hydrus)/launch/robot_model.launch" >
    <arg name="type" value="$(arg type)" />
    <arg name="model" value="$(arg model)"/>
    <arg name="headless" value="$(arg headless)" />
    <arg name="need_joint_state" value="true"/>
  </include >

  ###########  Differential Motion Planner  ###########
  <node pkg="hydrus" type="gap_passing_solver_node" name="gap_passing_solver_node"  output="screen" >
    <rosparam file="$(find hydrus)/config/$(arg type)/Hydrus.yaml" command="load" />
    <rosparam file="$(find hydrus)/config/$(arg type)/GapDifferentialKinematics.yaml" command="load" />
  </node>

</launch>
