<?xml version="1.0"?>
<launch>
  <arg name="model" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="worldtype" default="$(find aerial_robot_simulation)/gazebo_model/world/empty.world" />

  <!-- gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg worldtype)"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model $(arg model) -param robot_description"/>

  <!-- control -->
  <rosparam file="$(find aerial_robot_simulation)/config/SimulationControl.yaml" command="load" ns="$(arg model)" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="$(arg model)" args="joint_state_controller attitude_controller">
  </node>
</launch>
