<?xml version="1.0"?>
<launch>
  <arg name="robot_ns" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="launch_gazebo" default="true" />
  <arg name="worldtype" default="$(find aerial_robot_simulation)/gazebo_model/world/empty.world" />
  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_z" default="0.0"/>
  <arg name="spawn_yaw" default="0.0"/>
  <arg name="use_model_with_sim_flag" default="false"/>
  <arg name="robot_model" default=""/>
  <arg name="model_options" default=""/>

  <!-- gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg launch_gazebo)">
    <arg name="world_name" value="$(arg worldtype)"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- basic parameter -->
  <rosparam file="$(find aerial_robot_simulation)/config/Simulation.yaml" command="load" ns="$(arg robot_ns)" />

  <!-- model with simulation flag -->
  <group if="$(arg use_model_with_sim_flag)">
    <param name="$(arg robot_ns)/robot_description_sim"
             command="$(find xacro)/xacro.py '$(arg robot_model)' sim:=true $(arg model_options)" />
  </group>
  <arg name="robot_description_name" default="robot_description" unless="$(arg use_model_with_sim_flag)"/>
  <arg name="robot_description_name" default="robot_description_sim" if="$(arg use_model_with_sim_flag)"/>

  <node name="$(anon urdf_spawner)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model $(arg robot_ns) -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg spawn_z) -Y $(arg spawn_yaw) -param $(arg robot_ns)/$(arg robot_description_name)"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="$(arg robot_ns)" args="joint_state_controller attitude_controller">
  </node>
</launch>
