<?xml version="1.0"?>
<launch>
  <arg name="camera_name" default="camera" />
  <arg name="optical_flow_nodelet" default="true" />
  <arg name="optical_flow_config_file" default="$(find aerial_robot_estimation)/config/testbed/OpticalFlow.yaml"/>

  <group if="$(arg optical_flow_nodelet)">
    <group ns="$(arg camera_name)">
      <node pkg="nodelet" type="nodelet" args="load aerial_robot_estimation/OpticalFlow camera_nodelet_manager" name="optical_flow" output="screen">
        <rosparam file="$(arg optical_flow_config_file)" command="load" />
      </node>
    </group>
  </group>

  <group unless="$(arg optical_flow_nodelet)">
    <node pkg="nodelet" type="nodelet" args="standalone aerial_robot_estimation/OpticalFlow" name="optical_flow" output="screen">
      <rosparam file="$(arg optical_flow_config_file)" command="load" />
    </node>
  </group>

</launch>
