<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta_link1" >

  <xacro:macro name="link1">

    <link name="link1">
      <inertial>
        <origin xyz="0.26901888 -0.03575861 0.00778837" rpy="0 0 0"/>
        <mass value="0.70811094"/>
        <inertia
            ixx="0.00344639"  iyy="0.02416547" izz="0.02611708"
            ixy="0.00055924"  ixz="0.00141558" iyz="0.00019727"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240117_10inch/link1_base.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.25 0 -0.05"/>
        <geometry>
          <box size="0.5 0.05 0.18"/>
        </geometry>
      </collision>
    </link>

    <link name="gimbal_link1">
      <inertial>
        <origin xyz="0.00721656 -0.00001666 0.02317238" rpy="0 0 0"/>
        <mass value="0.29811001"/>
        <inertia
            ixx="0.00094718"  iyy="0.00102969"  izz="0.00023510"
            ixy="-0.00000002" ixz="-0.00022462" iyz="0.00000024"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240117_10inch/link1_gimbal.dae" />
        </geometry>
      </visual>
    </link>

  </xacro:macro>
</robot>
