<?xml version="1.0"?>
<launch>

  ############## Motor Info ############################
  <rosparam file="$(find aerial_robot_base)/config/simulation/MotorInfo.yaml" command="load" />

  ############## sensor param ##########################
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/d_imu.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/mocap.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/leddar_one.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/gps.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/baro.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/optical_flow.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/vo.yaml" command="load" />

  ############################# Drone Platform ###################################
  <node pkg="aerial_robot_base" type="aerial_robot_base_node" name="aerial_robot_base_node"  output="screen" >

    ############### Basic Param  #####################
    <param name="estimator/state_mode" value= "0" />
    <param name="navigator/xy_control_mode" value="0"/>
    <param name="main_rate" value="40"/>
    <param name="simulation" value="true" />
    <param name="param_verbose" value="true" />

    ############### Sensor Fusion ######################
    <rosparam file="$(find aerial_robot_base)/config/simulation/SensorFusion.yaml" command="load" />

    <remap from="/estimator/sensor_plugin/imu/acc" to="/simulation/estimator/sensor_plugin/imu/acc" />
    <remap from="/estimator/sensor_plugin/alt/data" to="/simulation/estimator/sensor_plugin/alt/data" />
    <remap from="/estimator/sensor_plugin/gps/data" to="/simulation/estimator/sensor_plugin/gps/data" />
    <remap from="/estimator/sensor_plugin/mocap/ground_truth/pose" to="/simulation/estimator/sensor_plugin/mocap/ground_truth/pose" />
    <remap from="/estimator/sensor_plugin/optical_flow/data" to="/simulation/estimator/sensor_plugin/optical_flow/data" />
    <remap from="/estimator/sensor_plugin/vo/data" to="/simulation/estimator/sensor_plugin/vo/data" />
    <remap from="/estimator/sensor_plugin/rtk_gps/state" to="/simulation/estimator/sensor_plugin/rtk_gps/state" />
    <remap from="/uav/full_state" to="/simulation/uav/full_state" />
    <remap from="/uav/root_link/odom" to="/simulation/uav/root_link/odom" />

  </node>

</launch>



