<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="battery" >

  <xacro:macro name="battery" params="index">

    <link name="battery${index}">
      <inertial>
        <origin xyz="0.00017558 0.00003980 -0.02919025" rpy="0 0 0"/>
        <mass value="0.45385250"/>
        <inertia
            ixx="0.00013794" iyy="0.00081532"  izz="0.00081363"
            ixy="0.00000135" ixz="-0.00000018" iyz="-0.00000004"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://rolling/urdf/mesh/20231013_frame/battery_module.dae" />
        </geometry>
      </visual>
    </link>
  </xacro:macro>
</robot>
