<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="rolling_link2" >

  <xacro:macro name="link2">

    <link name="link2">
      <inertial>
        <origin xyz="0.27923148 -0.03253302 0.00743660" rpy="0 0 0"/>
        <mass value="0.77749010"/>
        <inertia
            ixx="0.00357609"  iyy="0.02868885" izz="0.03072531"
            ixy="-0.00002501" ixz="0.00160483" iyz="-0.00018947"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://rolling/urdf/mesh/20231013_frame/link2_base.stl" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.25 0 -0.05"/>
        <geometry>
          <box size="0.5 0.05 0.18"/>
        </geometry>
      </collision>
    </link>

    <link name="gimbal_link2">
      <inertial>
        <origin xyz="0.01281681 -0.00001674 0.02345664" rpy="0 0 0"/>
        <mass value="0.29830765"/>
        <inertia
            ixx="0.00095496" iyy="0.00100830"  izz="0.00020605"
            ixy="0.00000000" ixz="-0.00015560" iyz="0.00000025"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://rolling/urdf/mesh/20231013_frame/link2_gimbal.dae" />
        </geometry>
      </visual>
    </link>

  </xacro:macro>
</robot>
