<?xml version="1.0"?>
<launch>
  <arg name="config_dir" default="$(find delta)/config"/>
  <arg name="door_x" default="2.0"/>
  <arg name="door_y" default="0.0"/>
  <arg name="door_z" default="0.0"/>
  <arg name="door_yaw" default="0.0"/>
  <arg name="simulation" default="false"/>

  <!-- demo node -->
  <group ns="delta">
    <node pkg="delta" type="door_opening_demo.py" name="door_opening_demo" output="screen">
      <rosparam file="$(arg config_dir)/demo/door_opening_demo.yaml" command="load"/>
    </node>
  </group>

  <!-- smach viewer -->
  <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer"/>

  <!-- spawn door -->
  <param name="door/robot_description" command="$(find xacro)/xacro $(find delta)/urdf/demo/door.urdf"/>
  <node pkg="gazebo_ros" type="spawn_model" name="door_spawn" args="-param door/robot_description -urdf -x $(arg door_x) -y $(arg door_y) -z 0 -Y $(arg door_yaw) -model door_model" if="$(arg simulation)"/>
</launch>
