<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus3" >

  <xacro:include filename="$(find aerial_robot_model)/urdf/hydrus3/hydrus3_common.xacro" />
  <xacro:include filename="$(find aerial_robot_model)/urdf/hydrus3/hydrus3_link.urdf.xacro" />

  <xacro:hydrus3_link self="1" child="2" head="true" tail="false" imu="false" />
  <xacro:hydrus3_link self="2" child="3" head="false" tail="false" imu="true" />
  <xacro:hydrus3_link self="3" child="4" head="false" tail="false" imu="false" />
  <xacro:hydrus3_link self="4" child="5" head="false" tail="true" imu="false" />

</robot>
