<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydra3" >

  <xacro:include filename="$(find aerial_robot_model)/urdf/hydra3/hydra3_common.xacro" />
  <xacro:include filename="$(find aerial_robot_model)/urdf/hydra3/hydra3_link.urdf.xacro" />

  <xacro:hydra3_link self="1" child="2" head="true" tail="false" imu="false"/>
  <xacro:hydra3_link self="2" child="3" head="false" tail="false" imu="false"/>
  <xacro:hydra3_link self="3" child="4" head="false" tail="false" imu="false"/>
  <xacro:hydra3_link self="4" child="5" head="false" tail="false" imu="false"/>
  <xacro:hydra3_link self="5" child="6" head="false" tail="false" imu="false"/>
  <xacro:hydra3_link self="6" child="7" head="false" tail="true" imu="false"/>


</robot>
