<?xml version="1.0"?>
<launch>

  <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                joints_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 57143
                    min_motor_id: 1
                    max_motor_id: 50
                    update_rate: 40
        </rosparam>
    </node>
</launch>
