<?xml version="1.0"?>
<launch>
  <arg name="baud" default="115200" />
  <arg name="port" default="/dev/leddarone" />

  <node pkg="leddar_one" type="leddar_one_node" name="leddar_one" output="screen">
    <param name="baud" value="$(arg baud)" />
    <param name="port" value="$(arg port)" />
  </node>


</launch>
