<launch> 
  <node pkg="mocap_optitrack"
    type="mocap_node"
    name="mocap_node"
    respawn="false"
    launch-prefix=""
    required="true">
    <rosparam file="$(find aerial_robot_base)/config/mocap.yaml" command="load" />
  </node>

<!--
  <node pkg="aerial_robot_base" type="mocap_node" name="mocap_transform_node"  output="screen" />
-->
</launch>
