<?xml version="1.0"?>
<launch>

  <arg name="simulation" default="false" />
  <arg name="spinal_board" default="true" />
  <arg name="spinal_port" default="/dev/ttyUSB0" />

  <arg name="altimeter" default="false" />
  <arg name="alt_port" default="/dev/ttyUSB1" />

  <arg name="mono_camera" default="false" />
  <arg name="camera_name" default="empty" />
  <arg name="camera_config_file" default="empty" />

  <arg name="optical_flow" default="false" />
  <arg name="optical_flow_nodelet" default="false" />
  <arg name="optical_flow_config_file" default="empty" />

  ################################# Spinal: IMU + GPS + Baro  #######################################
  <group if="$(arg spinal_board)">
    <include file="$(find spinal_ros_bridge)/launch/serial.launch" unless="$(arg simulation)">
      <arg name="baud" value="921600" />
      <arg name="port" value="$(arg spinal_port)" />
    </include>

    <!-- defualt noise config and timestamp correction -->
    <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/spinal.yaml" command="load" />
  </group>

  ################################ Altimeter: leddar one ######################################
  <group if="$(arg altimeter)">
    <include file="$(find aerial_robot_base)/launch/sensors/leddar_one.launch" unless="$(arg simulation)">
      <arg name="port" value="$(arg alt_port)" />
    </include>
    <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/leddar_one.yaml" command="load" />
  </group>

  ################################# Mono cam ###################################
  <group if="$(arg mono_camera)">
    <include file="$(find aerial_robot_base)/launch/sensors/vision/$(arg camera_name).launch" unless="$(arg simulation)">
      <arg name="camera_name" default="$(arg camera_name)" />
      <arg name="camera_config_file" default="$(arg camera_config_file)" />
    </include>
  </group>

  <!-- optical flow for mono/stereo -->
  <group if="$(arg optical_flow)">
    <include file="$(find aerial_robot_estimation)/launch/optical_flow.launch" >
    <arg name="camera_name" value="$(arg camera_name)" />
    <arg name="optical_flow_nodelet" value="$(arg optical_flow_nodelet)" />
    <arg name="optical_flow_config_file" value="$(arg optical_flow_config_file)" />
    </include>
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/optical_flow_vel.yaml" command="load" />
  </group>

</launch>
