<?xml version="1.0"?>
<launch>
  <arg name="baud" default="115200" />
  <arg name="port" default="/dev/ttyUSB0" />

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="baud" value="$(arg baud)" />
    <param name="port" value="$(arg port)" />
  </node>


</launch>
