<?xml version="1.0"?>
<launch>

  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/d_imu.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/mocap.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/optical_flow.yaml" command="load" />

  ################################# jsk_stm ########################################

<node name="jsk_stm" pkg="jsk_stm" type="jsk_stm_node" respawn="false"  output="screen">
  <param name="serial_port" value="/dev/ttyUSB0" />
    <remap from="/jsk_stm_serial_comm/arming_ack"  to="/arming_ack"/>
    <remap from="/jsk_stm_serial_comm/aerial_robot_control" to="/aerial_robot_control"/>
    <remap from="/jsk_stm_serial_comm/config_cmd"  to="/config_cmd"/>
</node>


</launch>
