<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus" >

  <xacro:arg name="robot_name" default="hydrus" />

  <xacro:arg name="sim" default="false"/>

  <xacro:arg name="links" default="8"/>
  <xacro:arg name="fix_rotor" default="0"/>

  <!-- robot urdf -->
  <xacro:include filename="$(find hydrus)/robots/multi/multi_vibration_202007/robot.urdf.xacro" />

  <!-- gazebo plugin for default controller and sensors -->
  <xacro:include filename="$(find aerial_robot_simulation)/xacro/spinal.gazebo.xacro" />
  <xacro:gazebo_spinal robot_name="$(arg robot_name)" />

  <xacro:if value="$(arg sim)">
    <!-- joint torsional spring plugin -->
    <gazebo>
    <xacro:macro name="loop_plugin_torsion" params="links_qty">
      <plugin name="torsion${links_qty-1}_torsional_spring" filename="libjoint_torsional_spring_plugin.so">
        <kx>60</kx>
        <set_point>0</set_point>
        <joint>torsion${links_qty-1}</joint>
      </plugin>

      <xacro:if value="${links_qty-2}">
        <xacro:loop_plugin_torsion links_qty="${links_qty-1}" />
      </xacro:if>
    </xacro:macro>
    <xacro:loop_plugin_torsion links_qty="$(arg links)" />
    </gazebo>

    <gazebo>
      <plugin name="torsion_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
        <!-- <robotNamespace>/$(arg robot_name)/link_torsion_groundtruth</robotNamespace> -->
        <robotNamespace>/$(arg robot_name)/link_torsion</robotNamespace>
        <!-- <jointName>torsion1, torsion2, torsion3, torsion4, torsion5</jointName> -->
        <jointName>torsion1, torsion2, torsion3, torsion4, torsion5, torsion6, torsion7</jointName>
        <updateRate>50.0</updateRate>
        <alwaysOn>true</alwaysOn>
      </plugin>
    </gazebo>
  </xacro:if>

  <!-- neuron imu plugin -->
  <xacro:macro name="loop_plugin_neuron_imu" params="links_qty">
    <gazebo reference="neuron${links_qty}_imu">
      <gravity>true</gravity>
      <sensor name="neuron${links_qty}_imu" type="imu">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>/$(arg robot_name)/neuron${links_qty}_imu</topicName>
          <bodyName>neuron${links_qty}_imu</bodyName>
          <updateRateHZ>50.0</updateRateHZ>
          <gaussianNoise>0.001</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>neuron${links_qty}_imu</frameName>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>
    <xacro:if value="${links_qty-1}">
        <xacro:loop_plugin_neuron_imu links_qty="${links_qty-1}" />
    </xacro:if>
  </xacro:macro>

  <xacro:loop_plugin_neuron_imu links_qty="$(arg links)" />
  <!-- end of neuron imu plugin -->

  <!-- publish real position of neurons -->
  <xacro:macro name="loop_plugin_neuron_groundtruth" params="links_qty">
    <gazebo>
      <plugin filename="libgazebo_ros_p3d.so" name="neuron1_groundtruth">
        <bodyName>thrust${links_qty}</bodyName>
        <topicName>/$(arg robot_name)/neuron${links_qty}_groundtruth</topicName>
        <updateRate>20</updateRate>
        <gaussianNoise>0.005</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>world</frameName>
      </plugin>
    </gazebo>

    <xacro:if value="${links_qty-1}">
        <xacro:loop_plugin_neuron_groundtruth links_qty="${links_qty-1}" />
    </xacro:if>
  </xacro:macro>
  <xacro:loop_plugin_neuron_groundtruth links_qty="$(arg links)" />
  <!-- end of publish real position of neurons -->
</robot>
