<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="beetle" >

  <xacro:include filename="$(find beetle)/urdf/beetle-art.urdf.xacro" />
  <xacro:include filename="$(find beetle)/urdf/common.xacro" />

  <xacro:beetle_center_link child1="1" child2="2" child3="3" child4="4"/>
  <xacro:beetle_thrust_link self="1" rotor_direction="-1"/>
  <xacro:beetle_thrust_link self="2" rotor_direction="1"/>
  <xacro:beetle_thrust_link self="3" rotor_direction="-1"/>
  <xacro:beetle_thrust_link self="4" rotor_direction="1"/>
</robot>
