<?xml version="1.0"?>
<launch>
   <arg name="nr" default="1"/> 
   <arg name="links" default="1"/> 

  <!-- Servo controllers-->
  <group ns="servo_controller/joints/controller$(arg nr)">
    <param name="id" value="$(eval arg('nr')-1)"/>
    <param name="name" value="joint$(arg nr)"/>
    <param name="simulation/init_value" value="$(eval 3.13*2/arg('links'))"/>
  </group>

   <!-- recursively start new node -->
   <include file="$(dirname)/recursive_config.launch" if="$(eval arg('nr') - 1 > 0)">
     <arg name="nr" value="$(eval arg('nr') - 1)"/>
     <arg name="links" value="$(arg links)"/>
   </include>

</launch>
