<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus3_common" >

  <xacro:property name="pi" value="3.1415926535897931" />
  <xacro:property name="link_length" value=".44" />
  <xacro:property name="protector_radius" value=".155" />

  <xacro:macro name="link_model" params="self">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${protector_radius}" radius="0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin rpy="${-pi/2} 0 ${pi}" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aerial_robot_model/urdf/hydrus3/mesh/hydrus3_link${self}.dae"/>
      </geometry>
    </visual>
  </xacro:macro>


</robot>
