<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="tiger_v1" >

  <xacro:include filename="$(find tiger)/urdf/v1/link.urdf.xacro" />

  <xacro:macro name="tiger_v1" params="battery:=1 leg:=1">
    <xacro:tiger_center_link child1="1" child2="3" child3="5" child4="7" leg="${leg}"/>
    <xacro:tiger_link self="1" child="2" link_type="general" battery="${battery}" leg="${leg}"/>
    <xacro:tiger_link self="2" child="2" link_type="end"     battery="${battery}" leg="${leg}"/>
    <xacro:tiger_link self="3" child="4" link_type="general" battery="${battery}" leg="${leg}"/>
    <xacro:tiger_link self="4" child="4" link_type="end"     battery="${battery}" leg="${leg}"/>
    <xacro:tiger_link self="5" child="6" link_type="general" battery="${battery}" leg="${leg}"/>
    <xacro:tiger_link self="6" child="6" link_type="end"     battery="${battery}" leg="${leg}"/>
    <xacro:tiger_link self="7" child="8" link_type="general" battery="${battery}" leg="${leg}"/>
    <xacro:tiger_link self="8" child="8" link_type="end"     battery="${battery}" leg="${leg}"/>
  </xacro:macro>

</robot>
