<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="dragon" >

  <!-- robot urdf -->
  <xacro:include filename="$(find dragon)/robots/quad/euclid_201709.urdf.xacro" />

  <!-- gazebo plugin for sensors -->
  <!-- temporary -->
  <xacro:include filename="$(find dragon)/robots/default.gazebo.xacro" />

</robot>
