<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="rolling" >

  <xacro:include filename="$(find rolling)/urdf/long/rolling_link.urdf.xacro" />
  <xacro:include filename="$(find rolling)/urdf/common.xacro" />

  <xacro:rolling_module self="1" child="2" baselink="false" rotor_direction="1" />
  <xacro:rolling_module self="2" child="3" baselink="true" rotor_direction="-1" />
  <xacro:rolling_module self="3" child="3" baselink="false"  rotor_direction="1" />

</robot>
