<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus_xi" >

  <xacro:include filename="$(find hydrus_xi)/robots/octo_closed/euclid201806.urdf.xacro" />

  <!-- gazebo -->
  <xacro:include filename="$(find hydrus_xi)/robots/default.gazebo.xacro" />

  <!-- TODO: add gazebo plugin for GPS, Magnetometer, Realsense -->

</robot>
