<launch>
  <arg name="mode" default="serial" />
  <arg name="dev" default="vim4" />

  <arg name="serial_port" value="/dev/ttyUSB0" if="$(eval arg('dev') == 'pc')" />
  <arg name="serial_port" value="/dev/ttyS4" if="$(eval arg('dev') == 'vim4')" />
  <arg name="serial_baud" default="921600" />

  <arg name="udp_port" default="12345" />
  <arg name="udp_addr" default="192.168.25.238" />

  <node pkg="rosserial_server" type="serial_node" name="rosserial_server" output="screen" if="$(eval arg('mode') == 'serial')">
    <param name="port" value="$(arg serial_port)" />
    <param name="baud" value="$(arg serial_baud)" />
  </node>

  <node pkg="rosserial_server" type="udp_socket_node" name="rosserial_server" output="screen" if="$(eval arg('mode') == 'udp')">
    <param name="client_port" value="$(arg udp_port)" />
    <param name="server_port" value="$(arg udp_port)" />
    <param name="client_addr" value="$(arg udp_addr)" />
  </node>
</launch>
