<?xml version="1.0"?>
<robot name="building">

    <link name="base_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://aerial_robot_model/urdf/other_objects/building3.stl" scale="0.0004 0.0004 0.0004"/>
        </geometry>
        <material name="gray">
          <color rgba="0.6 0.6 0.8 1"/>
        </material>
      </visual>
    </link>

</robot>