<?xml version="1.0"?>
<robot name="lamp">

    <link name="base_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <material name="gray">
          <color rgba="0.8 .8 0.8 1"/>
        </material>
        <geometry>
          <mesh filename="package://aerial_robot_model/urdf/other_objects/lamp.stl" scale=".03 .03 .03"/>
        </geometry>.
      </visual>
    </link>

</robot>