<?xml version="1.0"?>
<robot name="beam">

    <link name="base_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder length="0.2" radius="0.15"/>
        </geometry>
        <material name="blue">
          <color rgba="0.1 .1 1.0 1"/>
        </material>
      </visual>
    </link>

</robot>
