<?xml version="1.0"?>
<robot name="streetlamp">

    <link name="street_lamp">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://aerial_robot_model/urdf/other_objects/StreetLamp.dae" scale="1 1 1"/>
        </geometry>
      </visual>
    </link>

</robot>