<?xml version="1.0"?>
<robot name="test">

    <link name="base_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://aerial_robot_model/urdf/mesh_model/hydra_link_head.dae" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="red">
          <color rgba="0.8 .0 0.1 1"/>
        </material>
      </visual>
    </link>

</robot>