#!/usr/bin/env python
PACKAGE = "kinikun"

from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

gen.add("kp", double_t, 0, "Kp [MPa/rad]", 0.30, 0.0, 2.0)
gen.add("ki", double_t, 0, "Ki [MPa/(rad*s)]", 0.00, 0.0, 1.0)
gen.add("kd", double_t, 0, "Kd [MPa/rad/s]", 0.02, 0.0, 1.0)
gen.add("i_clamp_MPa", double_t, 0, "Integral clamp [MPa]", 0.05, 0.0, 0.5)
gen.add("d_filter_tau", double_t, 0, "D low-pass tau [s]", 0.05, 0.0, 0.5)

gen.add("enable_feedforward", bool_t, 0, "Enable model feedforward", True)
gen.add("slew_MPa_per_s", double_t, 0, "Slew rate [MPa/s]", 0.20, 0.0, 2.0)

gen.add("p_min_MPa", double_t, 0, "Min pressure [MPa]", 0.00, 0.0, 1.0)
gen.add("p_max_MPa", double_t, 0, "Max pressure [MPa]", 0.70, 0.0, 1.0)

exit(gen.generate("kinikun_control", "angle_model_pid_mpa", "AnglePID"))
