#!/usr/bin/env python3
PACKAGE = "kinikun"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("w_theta", double_t, 0, "Weight for theta tracking", 12.0, 0.0, 1e3)
gen.add("w_z",     double_t, 0, "Weight for z penalty",      0.8,  0.0, 1e3)
gen.add("w_u",     double_t, 0, "Weight for smoothness",     0.05, 0.0, 1e2)
gen.add("p_ind_max_MPa", double_t, 0, "Per-chamber max pressure [MPa]", 0.70, 0.05, 2.0)
gen.add("u_delta_clip_MPa", double_t, 0, "Hard clip per cycle [MPa]", 0.08, 0.0, 0.5)
gen.add("reg_scale", double_t, 0, "Scaling for /mpa_cmd", 0.9/4096.0, 0.0, 1.0)

gen.add("enable_delay_extra", bool_t, 0, "Enable extra input delay in prediction", False)
gen.add("delay_extra_steps",  int_t,  0, "Extra delay steps (>=0)", 0, 0, 20)

gen.add("enable_saturation", bool_t, 0, "Enable static saturation nonlinearity in prediction", False)
gen.add("sat_ps_gain", double_t, 0, "Saturation gain for ps", 3.0, 0.1, 20.0)
gen.add("sat_pd_gain", double_t, 0, "Saturation gain for pd", 3.0, 0.1, 20.0)

gen.add("enable_hysteresis", bool_t, 0, "Enable play hysteresis in prediction", False)
gen.add("hyst_width_ps", double_t, 0, "Play width for ps [MPa]", 0.02, 0.0, 0.5)
gen.add("hyst_width_pd", double_t, 0, "Play width for pd [MPa]", 0.02, 0.0, 0.5)
gen.add("hyst_leak", double_t, 0, "Leak toward input (0~1) per step", 0.02, 0.0, 1.0)
gen.add("hyst_gain", double_t, 0, "Gain on hysteresis output", 1.0, 0.0, 5.0)

gen.add("apply_effects_to_cmd", bool_t, 0, "Apply the same effects to commanded p1,p2", False)

exit(gen.generate(PACKAGE, "kinikun", "KinikunController"))
