#!/usr/bin/env python
PACKAGE = "kinikun"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# --- roll Gains ---
gen.add("roll_kp", double_t, 0, "roll P Gain", 1.0, 0.0, 100.0)
gen.add("roll_ki", double_t, 0, "roll I Gain", 0.0, 0.0, 10.0)
gen.add("roll_kd", double_t, 0, "roll D Gain", 0.0, 0.0, 100.0)
gen.add("target_roll", double_t, 0, "Target roll (deg)", 0.0, -45.0, 45.0)

# --- Yaw Gains ---
gen.add("yaw_kp", double_t, 0, "Yaw P Gain", 1.0, 0.0, 100.0)
gen.add("yaw_ki", double_t, 0, "Yaw I Gain", 0.0, 0.0, 10.0)
gen.add("yaw_kd", double_t, 0, "Yaw D Gain", 0.0, 0.0, 100.0)
gen.add("target_yaw", double_t, 0, "Target Yaw (deg)", 0.0, -45.0, 45.0)

# --- Actuator Settings (Bias & Scale) ---
gen.add("pressure_base", double_t, 0, "Base Pressure (MPa)", 0.2, 0.0, 0.9)
gen.add("dac_scale", double_t, 0, "MPa to DAC scale", 4551.0, 1000.0, 10000.0) # 4096 / 0.9 = ~4551

exit(gen.generate(PACKAGE, "kinikun", "RelativePID"))