<?xml version="1.0" encoding="utf-8"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="True" />
  <arg name="simulation" default="False" />
  <arg name="robot_ns" default="" />
  <arg name="sensor" default="hokuyo" />

  <group ns="$(arg robot_ns)">
    <group if= "$(eval not arg('simulation') and arg('real_machine') and sensor=='hokuyo')">
      <include file="$(find hokuyo_estimation)/launch/urg_node.launch">
	<arg name="robot_ns" value="$(arg robot_ns)" />
      </include>
    </group>

    <group if= "$(eval not arg('simulation') and arg('real_machine') and sensor=='livox')">
      <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
	<!-- <arg name="robot_ns" value="$(arg robot_ns)" /> -->
	<arg name="xfer_format" value="1" />
      </include>
    </group>


    <include file="$(find hokuyo_estimation)/launch/tree_detector.launch">
      <!-- show rviz only in simulation -->
      <arg name="show_rviz" value="$(arg simulation)" />
      <arg name="robot_ns" value="$(arg robot_ns)" />
    </include>

  </group>
</launch>
