<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default="" />
  <arg name="robot_ns" default="multirotor$(arg robot_id)" />
  <group ns="$(arg robot_ns)">

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hokuyo_estimation)/config/$(arg robot_ns)/rviz_config.rviz"/>

  </group>
</launch>
