<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrusx" >

  <xacro:include filename="$(find tiger)/robots/octo/tiger_v1_base.urdf.xacro" />

  <xacro:tiger_v1/>

  #### flight controller ####
  <!-- TODO -->
  <xacro:extra_module name = "fc" parent = "center_link" visible = "0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia
          ixx="0.000004" iyy="0.000004" izz="0.000008"
          ixy="0.000001" ixz="-0.000001" iyz="-0.000000"/>
    </inertial>
  </xacro:extra_module>

</robot>
