<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrusx" >

  <!-- basic kinematics model -->
  <xacro:include filename="$(find hydrus)/robots/quad/default.urdf.xacro" />

  <!-- oboard sensors and processors -->
  <xacro:include filename="$(find hydrus)/robots/onboards/tx2_zed_201810/onboards.urdf.xacro" />
  <xacro:onboards link = "2" />

</robot>
