<launch>
   <!-- Determine this using rosrun pointgrey_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="camera_name" default="camera" />
  <arg name="camera_serial" default="0" />
  <arg name="frame_rate" default="30" />
  <!--  <arg name="camera_config_file" default="mono_cam_name" /> -->
  <arg name="camera_config_file" default="$(find aerial_robot_estimation)/config/testbed/Pointgrey.yaml" />

  <group ns="$(arg camera_name)">
    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager" output="screen">
    </node>

  </group>
</launch>
