<launch>
  <arg name="model1" default="quadcopter1" />  
  <group ns="$(arg model1)"> 
        <param name="robot_description"
               command="$(find xacro)/xacro.py '$(find aerial_robot_model)/robots/quadcopter.urdf.xacro'" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
          <param name="tf_prefix" value="$(arg model1)" />
        </node>

	<node name="other_object_tf_publisher" pkg="aerial_robot_model" type="other_object_tf_publisher" >
          <param name="world" value="/world0" />
          <param name="other_object" value="$(arg model1)/base_link" /> 
        </node>
  </group> 


  <arg name="model2" default="quadcopter2" />  
  <group ns="$(arg model2)"> 
        <param name="robot_description"
               command="$(find xacro)/xacro.py '$(find aerial_robot_model)/robots/quadcopter.urdf.xacro'" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
          <param name="tf_prefix" value="$(arg model2)" />
        </node>

	<node name="other_object_tf_publisher" pkg="aerial_robot_model" type="other_object_tf_publisher" >
          <param name="world" value="/world0" />
          <param name="other_object" value="$(arg model2)/base_link" /> 
        </node>
  </group> 


</launch>
