servo_controller:
# # comment this part to use the default topics
#  state_sub_topic: kondo_servo/states_real
#  ctrl_pub_topic: kondo_servo/states_cmd
#  torque_pub_topic: kondo_servo/activate_cmd

  gimbals:
    angle_sgn: 1
    angle_scale: 0.001533981  # 2 * pi / 4096  Dynamixel servo: XC330-T181
    zero_point_offset: 2048

    controller1:
      id: 0
      name: gimbal1
      simulation:
        pid: {p: 5.0, i: 0.1, d: 0.1, i_clamp_max: 2.0, i_clamp_min: -2.0}
        init_value: 0
        type: effort_controllers/JointPositionController

    controller2:
      id: 1
      name: gimbal2
      simulation:
        pid: {p: 5.0, i: 0.1, d: 0.1, i_clamp_max: 2.0, i_clamp_min: -2.0}
        init_value: 0
        type: effort_controllers/JointPositionController

    controller3:
      id: 2
      name: gimbal3
      simulation:
        pid: {p: 5.0, i: 0.1, d: 0.1, i_clamp_max: 2.0, i_clamp_min: -2.0}
        init_value: 0
        type: effort_controllers/JointPositionController

    controller4:
      id: 3
      name: gimbal4
      simulation:
        pid: {p: 5.0, i: 0.1, d: 0.1, i_clamp_max: 2.0, i_clamp_min: -2.0}
        init_value: 0
        type: effort_controllers/JointPositionController

  # Separate group for prismatic joints (linear actuators)
  extendable_joints:
    no_real_state: true  # Skip servo bridge's angular processing
    
    controller1:
      id: 4
      name: extendable_joint1
      simulation:
        pid: {p: 100.0, i: 1.0, d: 10.0, i_clamp_max: 50.0, i_clamp_min: -50.0}
        init_value: 0
        type: effort_controllers/JointPositionController

    controller2:
      id: 5
      name: extendable_joint2
      simulation:
        pid: {p: 100.0, i: 1.0, d: 10.0, i_clamp_max: 50.0, i_clamp_min: -50.0}
        init_value: 0
        type: effort_controllers/JointPositionController

    controller3:
      id: 6
      name: extendable_joint3
      simulation:
        pid: {p: 100.0, i: 1.0, d: 10.0, i_clamp_max: 50.0, i_clamp_min: -50.0}
        init_value: 0
        type: effort_controllers/JointPositionController

    controller4:
      id: 7
      name: extendable_joint4
      simulation:
        pid: {p: 100.0, i: 1.0, d: 10.0, i_clamp_max: 50.0, i_clamp_min: -50.0}
        init_value: 0
        type: effort_controllers/JointPositionController
