<?xml version="1.0"?>
<launch>

  #################################### sensor plugin config ###################################
  <rosparam file="$(find aerial_robot_base)/config/rook/SensorLoader.yaml" command="load" />

  ################################### sensor param ############################################
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/d_imu.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/mocap.yaml" command="load" />
  <rosparam file="$(find aerial_robot_base)/config/sensor_plugin/optical_flow.yaml" command="load" />

  ################################### sensor module ############################################

  ################################# jsk_stm ########################################
  <include file="$(find aerial_robot_base)/launch/sensors/rosserial2.launch" >
    <arg name="baud" value="921600" />
  </include>

  ################################ mocap ##########################################
<!--
  <include file="$(find aerial_robot_base)/launch/sensors/mocap.launch" />
-->
  ################################# Joy Stick ######################################
  <include file="$(find aerial_robot_base)/launch/sensors/joy_stick.launch" />

  ################################# optical flow ###################################

  <include file="$(find aerial_robot_base)/launch/sensors/px4flow.launch" />


</launch>
