<?xml version="1.0" ?>
<model>
    <name>cylinder_object</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Tomoki Anzai</name>
        <email>anzai@jsk.imi.i.u-tokyo.ac.jp</email>
    </author>
    <description>aerial_robot_simulation</description>
</model>
