<?xml version="1.0"?>
<launch>
  <group ns="rolling">
    <param name="robot_description" command="$(find xacro)/xacro $(find rolling)/robots/rolling.gazebo.xacro" />
  </group>
  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param rolling/robot_description -urdf -model rolling" />
</launch>
