<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_common" >

  <xacro:property name="abdomen_radius" value=".2" />
  <xacro:property name="abdomen_height" value=".044" />
  <xacro:property name="tail_len" value=".1" />
  <xacro:property name="tail_width" value=".04" />
  <xacro:property name="tail_height" value=".01" />
  <xacro:property name="servo_rod_radius" value=".0025" />

  <xacro:macro name="link_color">
    <material name="gold">
      <color rgba="0.85 0.65 .13 0.9"/>
    </material>
  </xacro:macro>

  <xacro:macro name="propeller_color">
    <material name="gray">
      <color rgba="0.4 .4 .5 0.9"/>
    </material>
  </xacro:macro>


</robot>
