ros_lib
spinal

### https://gist.github.com/IvanZuy/8264427.js
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt
*.elf.*
*.elf
TrueSTUDIO/longzhu2/.settings/language.settings.xml
STM32CubeIDE/*.launch
