<?xml version="1.0"?>
<launch>
  <arg name="sync_pairs" default="true" />

  <include file="$(find aerial_robot_base)/launch/external_module/joy_stick.launch">
    <arg name="robot_name" value="kinikun1"/>
  </include>

  <node pkg="kinikun" type="joy_stick_mpa.py" name="joy_stick_mpa" output="screen">
    <param name="sync_pairs" value="$(arg sync_pairs)" />
  </node>

</launch>
