<?xml version="1.0"?>

<launch>

  <node name="power_node"  pkg="takasako_sps" type="scpi_tcp_client_node" output="screen" />

  <node name="forces_node" pkg="cfs_sensor" type="cfs_node"  output="screen"/>

  <include file="$(find spinal_ros_bridge)/launch/serial.launch" >
    <arg name="baud" value="921600" />
  </include>

  <node name="motor_test_node" pkg="motor_test" type="motor_test_node"  output="screen">
    <rosparam file="$(find motor_test)/config/hydrus_t_motor_mn3510_afro_hv_esc.yaml" command="load" />
    <remap from="/forces" to="/cfs/forces" />
    <remap from="/power_pwm" to="/pwm_test" />
  </node>
</launch>
