<launch>
    <arg name="robot_ns" value="beetle1"/>

    <group ns="$(arg robot_ns)">
        <node pkg="aerial_robot_control" type="viz_ext_wrench_ring.py" name="viz_ext_wrench_ring" output="screen"/>
    </group>

    <!-- ======================== -->
    <!-- Joystick Teleop          -->
    <!-- ======================== -->
    <include file="$(find aerial_robot_base)/launch/external_module/joy_stick.launch">
        <arg name="robot_name" value="$(arg robot_ns)"/>
    </include>

    <!-- ======================== -->
    <!-- RViz                     -->
    <!-- ======================== -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find beetle_omni)/config/rviz/nmpc_exp.rviz"/>

</launch>
