<launch>
  <!-- Define arguments to pass -->
  <arg name="enable_arm" default="false"/>
  <arg name="enable_glove" default="false"/>
  <arg name="robot_id_hand" default="5"/>
  <arg name="robot_id_arm" default="6"/>
  <arg name="port" default="9400"/>

  <!-- Include the original hand_arm_mocap.launch file and pass the arguments -->
  <include file="$(find beetle_omni)/launch/hand_arm_mocap.launch">
    <arg name="enable_arm" value="$(arg enable_arm)" />
    <arg name="robot_id_arm" value="$(arg robot_id_arm)" />
    <arg name="robot_id_hand" value="$(arg robot_id_hand)" />
  </include>

  <!-- Run glove_control_pub.py script if enable_glove is true -->
  <group if="$(eval arg('enable_glove') == true)">
    <node pkg="data_glove" type="glove_control_pub.py" name="glove_data_pub_node" output="screen">
      <param name="port" value="$(arg port)" />
    </node>
  </group>
</launch>
