<launch>
  <!-- Define arguments -->
  <arg name="robot_id_hand" default="5"/>
  <arg name="robot_id_arm" default="6"/>
  <arg name="port" default="9400"/>

  <!-- Activate node with arm and hand -->
  <group>
    <node pkg="mocap_optitrack"
          type="mocap_node"
          name="mocap_node_arm"
          respawn="false"
          launch-prefix=""
          required="true">
      <rosparam subst_value="true">
        rigid_bodies:
          '$(arg robot_id_arm)':
            pose: arm/mocap/pose
            child_frame_id: arm
            parent_frame_id: world
          '$(arg robot_id_hand)':
            pose: hand/mocap/pose
            child_frame_id: hand
            parent_frame_id: world
        optitrack_config:
          enable_optitrack: true
          multicast_address: 239.255.42.99
          command_port: 1510
          data_port: 1511
      </rosparam>
      <remap from="~hand/mocap/pose" to="/hand/mocap/pose" />
      <remap from="~arm/mocap/pose" to="/arm/mocap/pose" />
    </node>
  </group>

  <!-- Run glove_control_pub.py script -->
  <group>
    <node pkg="aerial_robot_planning" type="glove_control_pub.py" name="glove_data_pub_node" output="screen">
      <param name="port" value="$(arg port)"/>
    </node>
  </group>
</launch>
