<?xml version="1.0"?>
<launch>

  ############################# Global Param ###################################

  <arg name="flight_pos_mode" value="true" /> <!-- pos mode -->

  ############################# JSK Quadcopter ###################################

  <node pkg="aerial_robot_base" type="aerial_robot_base_node" name="hydra3_node"  output="screen" > 

    ############### Basic Param  #####################
    <param name="rx_loop_rate" type="double" value="110"/>
    <param name="tx_loop_rate" type="double" value="40"/>
    <param name="tf_pub_loop_rate" type="double" value="120"/>

    <param name="estimator/altitude_control_mode" type="int" value="0"/>
    <param name="estimator/use_outer_yaw_est" type="bool" value="true"/>
    <param name="navigator/xy_control_mode" type="int" value="0"/>

    ############### Quadctoper Basic State ######################
        <rosparam file="$(find hydra_transform_control)/config/EstimatorConfig.yaml" command="load" /> 

    ############### Motion Capture####################
    <param name="mocap/cog_offset" type="bool" value="true"/><!-- new for new hydra control -->
    <param name="estimator/mocap_flag" type="bool" value="true"/>

    ############### PID Control ######################
    <rosparam file="$(find hydra_transform_control)/config/PidControlConfig3.yaml" command="load" />

    ############### Kalman Filter ####################
    <!--    <param name="estimator/kalman_filter_flag" type="bool" value="true"/>
    <param name="kalman_filter/imu_hz" type="double" value="105"/> -->
<!--    <rosparam file="$(find hydra_transform_control)/config/KduinoKalmanFilterConfig.yaml" command="load" />
    <rosparam file="$(find hydra_transform_control)/config/OpticalFlowKalmanFilterConfig.yaml" command="load" /> -->

    ############### Keyboard Navigation ##############
    <rosparam file="$(find hydra_transform_control)/config/TeleopNavigationConfig.yaml" command="load" />

    ############### remap topic ######################
    ### Kduino IMU ################
    <remap from="/imu/kduino/imu" to="/kduino/imu" /> 
    <remap from="/imu/kduino/simple_imu" to="/kduino/simple_imu" /> 
    <remap from="/navigator/kduino/rc_cmd" to="/kduino/rc_cmd" />
    <remap from="/navigator/kduino/msp_cmd" to="/kduino/msp_cmd" />
    <remap from="/navigator/kduino/arming_ack" to="/kduino/arming_ack" />
    ### Joy Stick #################
    <remap from="/navigator/joy_stick_command" to="/joy" />
    ### Teleop Navigator ##########
    <remap from="/navigator/teleop_command/land" to="/teleop_command/land" />
    <remap from="/navigator/teleop_command/start" to="/teleop_command/start" />
    <remap from="/navigator/teleop_command/halt" to="/teleop_command/halt" />
    <remap from="/navigator/teleop_command/takeoff" to="/teleop_command/takeoff" />
    <remap from="/navigator/teleop_command/roll" to="/teleop_command/roll" />
    <remap from="/navigator/teleop_command/pitch" to="/teleop_command/pitch" />
    <remap from="/navigator/teleop_command/yaw" to="/teleop_command/yaw" />
    <remap from="/navigator/teleop_command/throttle" to="/teleop_command/throttle" />
    <remap from="/navigator/teleop_command/ctrl_mode" to="/teleop_command/ctrl_mode" />
  </node>

  ################################# Kduino #########################################

 <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
   <param name="baud" value="115200" />
   <param name="port" value="/dev/ttyUSB1" />
 </node>

  ################################# Dynamixel  ######################################
<!-- <include file="$(find hydra_transform_control)/launch/component/hydra_dynamicxel_bridge3.launch" />  -->

  ################################# Robot Model  ######################################
<!--  <include file="$(find hydra_transform_control)/launch/component/hydra_robot_model.launch" />  -->



</launch>



