<?xml version="1.0"?>
<launch>

  <arg name="config" default="Hydra3" />  

  <node pkg="hydra_transform_control" type="hydra_transform_control_node" name="transform_control_node"  output="screen" > 

    <rosparam file="$(find hydra_transform_control)/config/$(arg config).yaml" command="load" />


  </node>

</launch>
