<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydra_common" >

  <xacro:property name="abdomen_radius" value=".2" />
  <xacro:property name="abdomen_height" value=".044" />
  <xacro:property name="tail_len" value=".2" /> <!-- 0.1 is beautiful -->
  <xacro:property name="tail_width" value=".04" />
  <xacro:property name="tail_height" value=".01" />
  <xacro:property name="servo_rod_radius" value=".0025" />

  <xacro:macro name="link_color">
    <material name="gray">
      <color rgba="0.75 .5 .2 1"/>
    </material>
  </xacro:macro>

  <xacro:macro name="propeller_color">
    <material name="red">
      <color rgba="0.5 0.8 .9 1"/>
    </material>
  </xacro:macro>


</robot>
