<?xml version="1.0" ?>
<model>
    <name>dropping_zone_box</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Yuki Furuta</name>
        <email>furushchev@jsk.imi.i.u-tokyo.ac.jp</email>
    </author>
    <description>mbzirc-jsk</description>
</model>
