<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="rolling_link2" >

  <xacro:macro name="link2">

    <link name="link2">
      <inertial>
        <origin xyz="0.26724120 -0.00000341 0.00917818" rpy="0 0 0"/>
        <mass value="0.55395179"/>
        <inertia
            ixx="0.00055160"  iyy="0.02080064" izz="0.02042362"
            ixy="-0.00000055" ixz="0.00153902" iyz="-0.00000007"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://rolling/urdf/mesh/20230808_frameless/link2_base.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.25 0 -0.05"/>
        <geometry>
          <box size="0.5 0.05 0.18"/>
        </geometry>
      </collision>
    </link>

    <link name="gimbal_link2">
      <inertial>
        <origin xyz="0.01281681 -0.00001674 0.02345664" rpy="0 0 0"/>
        <mass value="0.29830765"/>
        <inertia
            ixx="0.00095496" iyy="0.00100830"  izz="0.00020605"
            ixy="0.00000000" ixz="-0.00015560" iyz="0.00000025"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://rolling/urdf/mesh/20230808_frameless/link2_gimbal.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>

  </xacro:macro>
</robot>
