<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="rolling_link1" >

  <xacro:macro name="link1">

    <link name="link1">
      <inertial>
        <origin xyz="0.26695257 0.00000500 0.00993736" rpy="0 0 0"/>
        <mass value="0.48484449"/>
        <inertia
            ixx="0.00050326"  iyy="0.01670962" izz="0.01633157"
            ixy="-0.00000023" ixz="0.00133774" iyz="0.00000004"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://rolling/urdf/mesh/20230808_frameless/link1_base.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.25 0 -0.05"/>
        <geometry>
          <box size="0.5 0.05 0.18"/>
        </geometry>
      </collision>
    </link>

    <link name="gimbal_link1">
      <inertial>
        <origin xyz="0.00721656 -0.00001666 0.02317238" rpy="0 0 0"/>
        <mass value="0.29811001"/>
        <inertia
            ixx="0.00094718"  iyy="0.00102969"  izz="0.00023510"
            ixy="-0.00000002" ixz="-0.00022462" iyz="0.00000024"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://rolling/urdf/mesh/20230808_frameless/link1_gimbal.dae" />
        </geometry>
      </visual>
    </link>

  </xacro:macro>
</robot>
