<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="type" default="quad" />
  <arg name="headless" default="false" />

  ###########  Robot Model  ###########
  <include file="$(find dragon)/launch/robot_model.launch" >
    <arg name="type" value="$(arg type)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="need_joint_state" value="true"/>
  </include >

  ###########  Differential Motion Planner  ###########
  <node pkg="dragon" type="end_effector_ik_node" name="end_effector_ik_node"  output="screen" >
    <rosparam file="$(find dragon)/config/$(arg type)/AttitudeControl.yaml" command="load" />
    <rosparam file="$(find dragon)/config/$(arg type)/EndEffectorIK.yaml" command="load" />
  </node>

</launch>
