<?xml version="1.0"?>
<launch>

  ############################# Global Param ###################################


  <arg name="flight_pos_mode" value="true" /> <!-- pos mode -->

  ############################# JSK Quadcopter ###################################

  <node pkg="jsk_quadcopter" type="jsk_quadcopter_node" name="quadcopter_node"  output="screen" > 

    ############### Basic Param  #####################
    <param name="rxLoopRate" type="double" value="110"/>
    <param name="txLoopRate" type="double" value="40"/>
    <param name="tfPubLoopRate" type="double" value="120"/>


    <param name="estimator/altitudeControlMode" type="int" value="0"/>
    <param name="estimator/useOuterYawEst" type="bool" value="true"/>
    <param name="navigator/xyControlMode" type="int" value="0"/>

    ############### Quadctoper Basic State ######################
    <rosparam file="$(find jsk_quadcopter)/config/rook_p/EstimatorConfig.yaml" command="load" />

    ############### Motion Capture####################
    <param name="estimator/mocapFlag" type="bool" value="true"/>

    ############### PID Control ######################
    <rosparam file="$(find jsk_quadcopter)/config/rook_p/PidControlConfig.yaml" command="load" />

    ############### Kalman Filter ####################
    <param name="estimator/kalmanFilterFlag" type="bool" value="true"/>
    <param name="kalman_filter/imuHz" type="double" value="105"/>
    <rosparam file="$(find jsk_quadcopter)/config/rook_p/KduinoKalmanFilterConfig.yaml" command="load" />
    <rosparam file="$(find jsk_quadcopter)/config/rook_p/OpticalFlowKalmanFilterConfig.yaml" command="load" />

    ############### Kalman Filter Debug/Simulation ###
    <param name="estimator/kalmanFilterDebug" type="bool" value="true"/>
    <param name="estimator/kalmanFilterAxis" type="int" value="1"/>
    <rosparam file="$(find jsk_quadcopter)/config/rook_p/SimulationKalmanFilterConfig.yaml" command="load" />

    ############### IIR Filter #######################
    <rosparam file="$(find jsk_quadcopter)/config/rook_p/IirFilterConfig.yaml" command="load" />

    ############### Keyboard Navigation ##############
    <rosparam file="$(find jsk_quadcopter)/config/hydra/TeleopNavigationConfig.yaml" command="load" />

    ############### remap topic ######################
    ### Kduino IMU ################
    <remap from="/imu/kduino/imu" to="/kduino/imu" /> 
    <remap from="/imu/kduino/simple_imu" to="/kduino/simple_imu" /> 
    <remap from="/navigator/kduino/rc_cmd" to="/kduino/rc_cmd" />
    <remap from="/navigator/kduino/msp_cmd" to="/kduino/msp_cmd" />
    <remap from="/navigator/kduino/arming_ack" to="/kduino/arming_ack" />
    ### Joy Stick #################
    <remap from="/navigator/joy_stick_command" to="/joy" />
    ### Teleop Navigator ##########
    <remap from="/navigator/teleop_command/land" to="/teleop_command/land" />
    <remap from="/navigator/teleop_command/start" to="/teleop_command/start" />
    <remap from="/navigator/teleop_command/halt" to="/teleop_command/halt" />
    <remap from="/navigator/teleop_command/takeoff" to="/teleop_command/takeoff" />
    <remap from="/navigator/teleop_command/roll" to="/teleop_command/roll" />
    <remap from="/navigator/teleop_command/pitch" to="/teleop_command/pitch" />
    <remap from="/navigator/teleop_command/yaw" to="/teleop_command/yaw" />
    <remap from="/navigator/teleop_command/throttle" to="/teleop_command/throttle" />
    <remap from="/navigator/teleop_command/ctrl_mode" to="/teleop_command/ctrl_mode" />

  </node>

  ################################# Kduino #########################################
 <node pkg="rosserial_jsk_patch" type="serial_node.sh" name="serial_node" output="screen">
   <param name="baud" value="115200" />
   <param name="port" value="/dev/ttyUSB1" />
 </node>



  ################################# Joy Stick ######################################
<!--  <include file="$(find jsk_quadcopter)/launch/rook_p/joy_stick.launch" /> -->

  ################################# Dynamixel Motor ################################
<!--  <include file="$(find my_dynamixel_tutorial)/launch/controller_manager_spawner.launch" /> -->

<!--
  ################################# Hydra Test ################################
 <node pkg="hydra" type="test_node" name="hydra_test_node" output="screen" />
-->


</launch>



