<?xml version="1.0"?>

<launch>

  <node name="power_node"  pkg="takasako_sps" type="scpi_tcp_client_node" output="screen" />

  <node name="forces_node" pkg="cfs_sensor" type="cfs_node"  output="screen"/> 

  <node name="jsk_stm" pkg="jsk_stm" type="jsk_stm_node" respawn="false"  output="screen">
  <param name="serial_port" value="/dev/ttyUSB0" />
</node>

<!--
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="baud" value="115200" />
    <param name="port" value="/dev/ttyUSB0" />
  </node>
-->


  <node name="motor_test_node" pkg="motor_test" type="motor_test_node"  output="screen"> 
    <param name="pwm_incremental_value" value="25" />
    <param name="duration" value="3.0" />
    <param name="min_pwm_value" value="1200" />
    <param name="max_pwm_value" value="1900" />


    <remap from="/forces" to="/cfs/forces" />
    <remap from="/power_pwm" to="/jsk_stm_serial_comm/pwm_test_cmd" />

  </node>
</launch>
