<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus_xi" >

  <xacro:include filename="$(find hydrus_xi)/robots/octo.urdf.xacro" />

  <!-- gazebo elements: hw interface -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/hydrus_xi</robotNamespace>
      <robotSimType>gazebo_ros_control/AerialRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
</robot>
