<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="hydrus_xi" >

  <xacro:include filename="$(find hydrus_xi)/urdf/hydrus_xi_common.xacro" />
  <xacro:include filename="$(find hydrus_xi)/urdf/hydrus_xi_link.urdf.xacro" />

  <!--  model type 1: baselink (attached with imu, pc): fixed_n-->
  <!--  model type 2: fixed_n_link -->
  <!--  model type 3: fixed_p_link -->
  <xacro:hydrus_xi_module self="1" child="2" rotor_direction="-1"  link_type="1" />
  <xacro:hydrus_xi_module self="2" child="3" rotor_direction="1"  link_type="3" />
  <xacro:hydrus_xi_module self="3" child="4" rotor_direction="-1"  link_type="2" />
  <xacro:hydrus_xi_module self="4" child="5" rotor_direction="1"  link_type="3" />
  <xacro:hydrus_xi_module self="5" child="6" rotor_direction="-1"  link_type="2" />
  <xacro:hydrus_xi_module self="6" child="7" rotor_direction="1"  link_type="3" />
  <xacro:hydrus_xi_module self="7" child="8" rotor_direction="-1"  link_type="2" />
  <xacro:hydrus_xi_module self="8" child="8" rotor_direction="1"  link_type="3" />
</robot>
