<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta_link2" >

  <xacro:macro name="link2">

    <link name="link2">
      <inertial>
        <origin xyz="0.29247546 -0.04173228 0.00214003" rpy="0 0 0"/>
        <mass value="1.21919627"/>
        <inertia
             ixx="0.00538607" iyy="0.04105715" izz="0.04397541"
            ixy="-0.00237976" ixz="0.00218016" iyz="0.00011267" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240207_new_armor/link2_base.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.25 0 -0.05"/>
        <geometry>
          <box size="0.5 0.05 0.18"/>
        </geometry>
      </collision>
    </link>

    <link name="gimbal_link2">
      <inertial>
        <origin xyz="0.01205240 -0.00000221 0.01260343" rpy="0 0 0"/>
        <mass value="0.27751558"/>
        <inertia
            ixx="0.00068946"  iyy="0.00075023" izz="0.00016497"
            ixy="0.00000004" ixz="-0.00015101" iyz="0.00000005"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240207_new_armor/link2_gimbal.dae" />
        </geometry>
      </visual>
    </link>

    <link name="link2_center">
      <inerial>
        <origin xyz="0 0 0"/>
          <mass value="0.00001"/>
          <inertia
              ixx="0.000001" ixy="0.0" ixz="0.0"
              iyy="0.000001" iyz="0.0"
              izz="0.000001"/>
      </inerial>
    </link>
    <joint name="link2_center_joint" type="fixed">
      <parent link="link2"/>
      <child link="link2_center"/>
      <origin xyz="0.26375 0.15228 0" rpy="0 0 ${pi}"/>
    </joint>

  </xacro:macro>
</robot>
