<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta_link1" >

  <xacro:macro name="link1">

    <link name="link1">
      <inertial>
        <origin xyz="0.28794398 -0.04712329 0.00347969" rpy="0 0 0"/>
        <mass value="1.08222549"/>
        <inertia
             ixx="0.00498184" iyy="0.03252549" izz="0.03516989"
            ixy="-0.00088064" ixz="0.00165575" iyz="0.00017753" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240207_new_armor/link1_base.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.25 0 -0.05"/>
        <geometry>
          <box size="0.5 0.05 0.18"/>
        </geometry>
      </collision>
    </link>

    <link name="gimbal_link1">
      <inertial>
        <origin xyz="0.00944096 -0.00000223 0.01141561" rpy="0 0 0"/>
        <mass value="0.27443334"/>
        <inertia
            ixx="0.00066652"  iyy="0.00074131" izz="0.00017798"
            ixy="0.00000004" ixz="-0.00017867" iyz="0.00000005" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240207_new_armor/link1_gimbal.dae" />
        </geometry>
      </visual>
    </link>

    <link name="link1_center">
      <inerial>
        <origin xyz="0 0 0"/>
          <mass value="0.00001"/>
          <inertia
              ixx="0.000004" ixy="0.0" ixz="0.0"
              iyy="0.000004" iyz="0.0"
              izz="0.000004"/>
      </inerial>
    </link>
    <joint name="link1_center_joint" type="fixed">
      <parent link="link1"/>
      <child link="link1_center"/>
      <origin xyz="0.23025 0.15228 0" rpy="0 0 ${pi}"/>
    </joint>

  </xacro:macro>
</robot>
