<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta_link3" >

  <xacro:macro name="link3">

    <link name="link3">
      <inertial>
        <origin xyz="0.29414327 -0.05513197 -0.00624486" rpy="0 0 0"/>
        <mass value="0.91687816"/>
        <inertia
            ixx="0.00464612"  iyy="0.03077571"  izz="0.03297254"
            ixy="-0.00234213" ixz="0.00008767" iyz="-0.00031567" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240207_new_armor/link3_base.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.25 0 -0.05"/>
        <geometry>
          <box size="0.5 0.05 0.18"/>
        </geometry>
      </collision>
    </link>

    <link name="gimbal_link3">
      <inertial>
        <origin xyz="0.00925022 -0.00000236 0.01013816" rpy="0 0 0"/>
        <mass value="0.26494712"/>
        <inertia
            ixx="0.00063135" iyy="0.00070447"  izz="0.00017487"
            ixy="0.00000004" ixz="-0.00017210" iyz="0.00000004" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://delta/urdf/mesh/20240207_new_armor/link3_gimbal.dae" />
        </geometry>
      </visual>
    </link>

    <link name="link3_center">
      <inerial>
        <origin xyz="0 0 0"/>
          <mass value="0.00001"/>
          <inertia
              ixx="0.000001" ixy="0.0" ixz="0.0"
              iyy="0.000001" iyz="0.0"
              izz="0.000001"/>
      </inerial>
    </link>
    <joint name="link3_center_joint" type="fixed">
      <parent link="link3"/>
      <child link="link3_center"/>
      <origin xyz="0.26375 0.15228 0" rpy="0 0 ${pi}"/>
    </joint>

  </xacro:macro>
</robot>
