<?xml version="1.0"?>
<launch>
  <group ns="assemble_quadrotors">
    <param name="robot_description" command="$(find xacro)/xacro.py $(find assemble_quadrotors)/urdf/robot.gazebo.xacro" />
  </group>
  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param assemble_quadrotors/robot_description -urdf -model assemble_quadrotors" />
</launch>
